[submodule "mongo-express-devops"]
	path = mongo-express-devops
	url = git@github.com:brancomsp/mongo-express.git
[submodule "conversao-distancia"]
	path = conversao-distancia
	url = git@github.com:brancomsp/conversao-distancia.git
[submodule "rotten-potatoes"]
	path = rotten-potatoes
	url = git@github.com:brancomsp/rotten-potatoes.git
